<button class="btn btn-primary" (click)="open(content)">
Add Product
</button>

<nav class="navbar">
<input class="form-control" type="text" name="productName" [(ngModel)]="productName" (ngModelChange)="Search()" placeholder="Enter Product Name"> 
</nav>
 
<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Id</th>
        <th scope="col">Name</th>
        <th scope="col">Image</th>
        <th scope="col">Quantity</th>
        <th scope="col">Price in USD</th>
        <th scope="col">Price in EGP</th>
        <th scope="col">Details</th>
        <th scope="col">Need Items</th>
        <th scope="col">Buy</th>
      </tr>
    </thead>
    <tbody>
      <!-- <tr *ngFor="let prod of selectedProducts, let i = index" [class.bg-warning] = "prod.quantity == 0" [class.d-none] = "prod.categoryId != SelectedCategoryId" TrackBy="prdTrackBy">  -->
      <tr *ngFor="let prod of selectedProducts, let i = index" [class.bg-warning] = "prod.quantity == 0" TrackBy="prdTrackBy"> 

        <!-- <th scope="row" *ngFor="let prod of prodList">1</th> -->
        <td>{{i+1}}</td>
        <td>{{prod.name}}</td>
        <td><img LighBox = "red" defaultColor="black" [src]="prod.image"></td>
        <td>
            <div *ngIf="prod.quantity > 0 else OutOfStock">{{prod.quantity}}</div>
            <ng-template #OutOfStock>OutOfStock</ng-template>
        </td>
        <td>{{prod.price | currency }}</td>
        <td>{{prod.price | uSDtoEGP : 10}}</td>
        <td> <button class="btn btn-primary" (click)="Details(prod.id)">Details</button> </td>
        <td><input type="number" #NeededItems class="form-control"></td>
        <!-- <td><button class="btn btn-primary" (click)="Buy(prod.price,NeededItems.value)">Buy</button></td> -->
        <td><button class="btn btn-primary" (click)="Buy(prod.price,NeededItems.value)">Buy</button></td>

      </tr>
    </tbody>
  </table>




  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <div class="mb-3">
          <label for="dateOfBirth">Date of birth</label>
          <div class="input-group">
            <input id="dateOfBirth" class="form-control" placeholder="yyyy-mm-dd" name="dp" ngbDatepicker #dp="ngbDatepicker">
            <button class="btn btn-outline-secondary calendar" (click)="dp.toggle()" type="button"></button>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
    </div>
  </ng-template>
  
  <button class="btn btn-lg btn-outline-primary" (click)="open(content)">Launch demo modal</button>
  
  <hr>
  
  <pre>{{ closeResult }}</pre>